
<select id= "optone" name="optone" size="1">
<option value="" selected="selected">Pick a Category...</option>
<option value="business">Business</option>
<option value="film">Film</option>
<option value="food">Food & Drink</option>
<option value="gather">Gathering</option>
<option value="large">Large Event</option>
<option value="music">Music</option>
<option value="shared">Shared Interests</option>
<option value="task">Task</option>
<option value="theatre">Theatre</option>
</select><br>
<select id="opttwo" name="opttwo" size="1">
<option value=" " selected="selected">Please select one of the options above first.</option>
</select>
